@using Trip2.Areas.Admin.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
@model FlightModel;
<div class=" mt-5 h-100" style="margin-left:18%;width:70%">
    <div class="card shadow h-100">
        <form method="post" enctype="multipart/form-data" asp-area="Admin" asp-controller="Flight" asp-action="Insert" class="display-4" style="margin:5%;">

            <div class="row">

                <div class="mb-3 col-12">ADD / EDIT FLIGHT</div>

                @Html.HiddenFor(x=>x.FlightID)
                @Html.HiddenFor(x=>x.Photo)

                <div class="col-md-12 align-middle">
                    <label class="form-control-label">Upload Image</label>
                    <div class="card-body dropzone rounded-lg" id="tinydash-dropzone">
                        <div class="dz-message needsclick align-middle justify-content-center">

                            <div class="d-flex align-items-center justify-content-center">
                                <div class="col-md-6 me-3 justify-content-cente">
                                    <img id="preview" src="" class="img-fluid float-left" style="width: 200px; height: 200px; object-fit:cover;  border-radius: 5px;border:dashed;border-color:#e4e8eb" />
                                    <div class="w-50 float-right mt-5">
                                        <div class="rounded-circle ml-4 mb-2 d-flex justify-content-center align-items-center  float-none" style="height:55px;width:55px;background-color:#525f7f">

                                            <label class="" for="uploadBtn">
                                                <img src="~/Font/file-import-solid.svg" height="25px" width="25px" />
                                                <input type="file" name="File" accept=".png, .jpg, .jpeg" asp-for="File" onchange="previewImage(event)" id="uploadBtn" style="display:none" Required />
                                            </label>
                                           
                                        </div>
                                        <h4 class="text-muted ml-2">Select a file...</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 p-2 m-0">
                            <label class="form-control-label">FlightNo</label>
                            <input asp-for="FlightNo" class="form-control text-black-50 font-weight-bold">
                            <h3> <span asp-validation-for="FlightNo" class="text-danger"></span></h3>
                        </div>
                        <div class="col-9 p-2 m-0">
                            <label class="form-control-label">Airline Name</label>
                            <input asp-for="AirlineName" class="form-control text-black-50 font-weight-bold">
                            <h3> <span asp-validation-for="AirlineName" class="text-danger"></span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 p-2">
                            <label class="form-control-label">City Name</label>
                            <select class="form-select mb-0 w-100" name="CityID" asp-for="CityID" style="font-size:17px;height:45px;">
                                <option value="">- - -</option>
                                @foreach (CityModel city in ViewBag.CityList)
                                {
                                    <option value="@city.CityID">@city.CityName</option>
                                }
                            </select>
                            <h3> <span asp-validation-for="CityID" class="text-danger"></span></h3>
                        </div>
                        <div class="col-4 p-2">
                            <label class="form-control-label">State Name</label>
                            <select class="form-select mb-0 w-100" name="StateID" asp-for="StateID" style="font-size:17px;height:45px">
                                <option value="">- - -</option>
                                @foreach (StateModel state in ViewBag.StateList)
                                {
                                    <option value="@state.StateID">@state.StateName</option>
                                }
                            </select>
                            <h3> <span asp-validation-for="StateID" class="text-danger"></span></h3>
                        </div>
                        <div class="col-4 p-2">
                            <label class="form-control-label">Country Name</label>
                            <select class="form-select mb-0 w-100" name="CountryID" asp-for="CountryID" style="font-size:17px;height:45px">
                                <option value="">- - -</option>
                                @foreach (CountryModel country in ViewBag.CountryList)
                                {
                                    <option value="@country.CountryID">@country.CountryName</option>
                                }
                            </select>
                            <h3> <span asp-validation-for="CountryID" class="text-danger"></span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 p-2">
                            <label class="form-control-label">Departure City</label>
                            <select class="form-select mb-0 w-100" name="DepartureCity" asp-for="DepartureCity" style="font-size:17px;height:45px;">
                                <option value="">- - -</option>
                                @foreach (CityModel city in ViewBag.CityList)
                                {
                                    <option>@city.CityName</option>
                                }
                            </select>
                            <h3> <span asp-validation-for="DepartureCity" class="text-danger"></span></h3>
                        </div>
                        <div class="col-6 p-2">
                            <label class="form-control-label">Destination City</label>
                            <select class="form-select mb-0 w-100" name="DestinationCity" asp-for="DestinationCity" style="font-size:17px;height:45px;">
                                <option value="">- - -</option>
                                @foreach (CityModel city in ViewBag.CityList)
                                {
                                    <option>@city.CityName</option>
                                }
                            </select>
                            <h3> <span asp-validation-for="DestinationCity" class="text-danger"></span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 p-2 m-0">
                            <label class="form-control-label">Departure Time</label>
                            <input asp-for="DepartureTime" class="form-control text-black-50 font-weight-bold">
                            <h3> <span asp-validation-for="DepartureTime" class="text-danger"></span></h3>
                        </div>
                        <div class="col-6 p-2 m-0">
                            <label class="form-control-label">Arrival Time</label>
                            <input asp-for="ArrivalTime" class="form-control text-black-50 font-weight-bold">
                            <h3> <span asp-validation-for="ArrivalTime" class="text-danger"></span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 p-2 m-0">
                            <label class="form-control-label">Duration</label>
                            <input asp-for="Duration" class="form-control text-black-50 font-weight-bold">
                            <h3> <span asp-validation-for="Duration" class="text-danger"></span></h3>
                        </div>
                        <div class="col-6 p-2 m-0">
                            <label class="form-control-label">Stops</label>
                            <input asp-for="Stops" class="form-control text-black-50 font-weight-bold">
                            <h3> <span asp-validation-for="Stops" class="text-danger"></span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 p-2">
                            <label class="form-control-label">Type</label>
                            <select class="form-select mb-0 w-100" name="Type" asp-for="Type" style="font-size:17px;height:45px">
                                <option>Round Trip</option>
                                <option>One Way</option>
                                <option>Multi-City</option>
                            </select>
                            <h3> <span asp-validation-for="Type" class="text-danger"></span></h3>
                        </div>
                        <div class="col-4 p-2">
                            <label class="form-control-label">Class</label>
                            <select class="form-select mb-0 w-100" name="Class" asp-for="Class" style="font-size:17px;height:45px">
                                <option>Economy</option>
                                <option>Premium Economy</option>
                                <option>Bussiness</option>
                                <option>First</option>
                            </select>
                            <h3> <span asp-validation-for="Class" class="text-danger"></span></h3>
                        </div>

                        <div class="col-4 p-2 m-0">
                            <label class="form-control-label">Price</label>
                            <input asp-for="Price" class="form-control text-black-50 font-weight-bold">
                            <h3> <span asp-validation-for="Price" class="text-danger"></span></h3>
                        </div>
                    </div>

                    <div class="row ml-1 mt-3">
                        <a class="btn btn-info text-white mt-3" onclick="goBack()">Back</a>
                        <button type="submit" class="btn btn-primary ml-2 mt-3">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{

    <script>
        function previewImage(event) {
            var input = event.target;
            var image = document.getElementById('preview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    image.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        // Function to display existing image when data is loaded for editing
        function displayExistingImage(imageUrl) {
            var image = document.getElementById('preview');
            image.src = imageUrl;
        }

        function goBack() {
            window.history.back();
        }
    </script>

    @if (Model != null && !string.IsNullOrEmpty(Model.Photo))
    {
        <script>
            displayExistingImage('@Model.Photo');
        </script>
    }
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

